* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #f5ebe0;
}

/* Inicio estilos de sección principal */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}
/* Fin estilos de sección principal */

/* Inicio estilos de contenedor de título */
.title-container {
    display: flex;
    width: 500px;
    gap: 120px;
    padding: 10px;
    margin-bottom: 20px;
    justify-content: start;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #d5bdaf;
    color: #fff;
}

.title-container i{
    font-size: 28px;
    cursor: pointer;
    color: #d29252;
}

.login-container label{
    font-size: 15px;
    font-weight: 400;
}
/* Fin estilos de contenedor de título */

/* Inicio estilos de contenedor de login */
.login-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #d5bdaf;
    color: #fff;
}

.login-container input {
    margin-bottom: 30px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 7px;
}

.loginbutton-container {
    display: flex;
    justify-content: center;
}

.login-container button {
    padding: 7px;
    border-radius: 10px;
    width: 250px;
    font-size: 15px;
    font-weight: 600;
    background-color: #d4a678;
    color: #fff;
    cursor: pointer;
}
/* Fin estilos de contenedor de login */

